p{
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 15px;
    width: 300px;
}
.explore-btn {
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border: 1px solid transparent;
  transition: transform 0.3s ease, 0.3s ease;
}

.explore-btn:hover {
  background: linear-gradient(270deg, #d32f2f, #f57c00, #d32f2f , #1976d2, #388e3c, #fbc02d , red);
  background-size: 400% 400%;
  animation: gradientMove 6s ease infinite; 
  transform: scale(1.05); 
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.btn {
  position: relative;
  color: #000;            
  text-decoration: none;   
  font-weight: 500;
}
.btn::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 0;
  width: 100%;
  height: 2px;              
  background-color: #000;
  transition: width 0.3s ease;
}

.btn:hover::after {
  width: 0;   
}

